
  /* IniciarSesion.css */

.contenedor-centro {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Hace que ocupe toda la altura de la pantalla */
}

.form-marco {
  width: 100%;
  max-width: 600px; /* Limita el ancho máximo */
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.radio {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.detalles-pago {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.fila {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.vencimiento {
  display: flex;
  align-items: center;
  gap: 5px;
}

.vencimiento input {
  width: 60px;
}
